// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

h1.entry-title {
  color: $c4;
}

html {
  background: $page-bg;
}

article h1 {
  font-size: 2.1em;
}

article header {
  padding-bottom: 0.5em;
}

article > footer {
  margin-top: 2.5em;
}

article > footer p.meta {
  color: lighten($text-color, 40);
}
