// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

h1.entry-title {
  color: $c4;
}

html {
  background: $page-bg;
}
